# Some PEP8 deviations are considered irrelevant to stub files:
# (error counts as of 2016-12-19)
# 17381 E704 multiple statements on one line (def)
# 11840 E301 expected 1 blank line
#  7467 E302 expected 2 blank lines
#  1772 E501 line too long
#  1487 F401 imported but unused
#  1248 E701 multiple statements on one line (colon)
#   427 F811 redefinition
#   356 E305 expected 2 blank lines

# Nice-to-haves ignored for now
#   221 E128 continuation line under-indented for visual indent
#    44 E127 continuation line over-indented for visual indent

[flake8]
ignore = F401, F811, E127, E128, E301, E302, E305, E501, E701, E704

# Errors that we need to fix before enabling flake8 by default:
#   921 F821 undefined name
#    52 E402 module-level import not at top of file
#    48 E225 missing whitespace around operator
#    28 E116 unexpected indentation (comment)
#    26 F403 from * import used
#    14 E251 unexpected spaces around keyword argument '='
#    14 E203 whitespace before
#     8 B006 mutable argument defaults
#     7 E999 invalid syntax
#     7 E111 indentation is not a multiple of four
#     5 F405 name undefined or from * imports
#     4 E262 inline comment should start with #
#     4 E114 indentation is not a multiple of four
#     3 E303 too many blank lines
#     2 B303 __metaclass__ use on Python 3
#     1 E401 multiple imports on one line
#     1 E202 whitespace before )
