repos:
  - repo: https://github.com/psf/black
    rev: 21.11b1  # must match requirements-tests-py3.txt
    hooks:
      - id: black
        language_version: python3.10
    args:[--target-version py310]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1  # must match requirements-tests-py3.txt
    hooks:
      - id: isort
        name: isort (python)

ci:
    autofix_commit_msg: '[pre-commit.ci] auto fixes from pre-commit.com hooks'
    autofix_prs: true
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: []
    submodules: false
