mypy==0.910
pytype==2021.11.24; platform_system != "Windows"
# must match .pre-commit-config.yaml
black==21.11b1
flake8==4.0.1
flake8-bugbear==21.9.2
flake8-pyi==20.10.0
# must match .pre-commit-config.yaml
isort==5.10.1
tomli==1.1.0
