aiohttp==3.8.3
black==22.10.0            # must match .pre-commit-config.yaml
flake8==5.0.4             # must match .pre-commit-config.yaml
flake8-bugbear==22.10.27  # must match .pre-commit-config.yaml
flake8-noqa==1.2.9        # must match .pre-commit-config.yaml
flake8-pyi==22.10.0       # must match .pre-commit-config.yaml
isort==5.10.1             # must match .pre-commit-config.yaml
mypy==0.990
packaging==21.3
pathspec
pycln==2.1.1              # must match .pre-commit-config.yaml
pyyaml==6.0
pytype==2022.10.26; platform_system != "Windows" and python_version < "3.11"
termcolor>=2
tomli==2.0.1
tomlkit==0.11.6
types-pyyaml
