mypy==0.971
pytype==2022.8.17; platform_system != "Windows"
# must match .pre-commit-config.yaml
black==22.6.0
# must match .pre-commit-config.yaml
flake8==5.0.4
flake8-bugbear==22.7.1
flake8-pyi==22.8.1
# must match .pre-commit-config.yaml
isort==5.10.1
tomli==1.2.2
# must match .pre-commit-config.yaml
pycln==2.1.1
packaging==21.3
termcolor
